
before_script:
  - curl -LO https://releases.rancher.com/cli/v0.6.2/rancher-linux-amd64-v0.6.2.tar.gz
  - tar zxf rancher-linux-amd64-v0.6.2.tar.gz
  
build_test:
  script: |
    echo Information > info.txt
    echo "Branch: ${CI_COMMIT_BRANCH}" >> info.txt
    echo "Commit: ${CI_COMMIT_SHA}" >> info.txt
    echo "Commit comment:" >> info.txt
    echo " ${CI_COMMIT_MESSAGE}" >> info.txt
    echo "Build time: $(date)" >> info.txt
    docker build -t dockerimages.fhcrc.org/wiki:latest .

# build for every branch EXCEPT main and push to preview site
# https://sciwiki-preview.fredhutch.org (only accessible inside
# hutch network). See 
# https://sciwiki-preview.fredhutch.org/info.txt for branch
# and commit information.

deploy_preview:
  stage: deploy
  except: 
    refs:
      - main
  script:
    - docker login --username $DOCKERIMAGES_USER --password $DOCKERIMAGES_PASS https://dockerimages.fhcrc.org
    - docker tag dockerimages.fhcrc.org/wiki:latest dockerimages.fhcrc.org/wiki-preview:latest 
    - docker push dockerimages.fhcrc.org/wiki-preview:latest
    - sleep 15
    - rancher-v0.6.2/rancher --url https://ponderosa.fhcrc.org --access-key $PREVIEW_RANCHERAPI_KEY --secret-key $PREVIEW_RANCHERAPI_SECRET up -d --pull --force-upgrade --confirm-upgrade --stack wiki_preview --file docker-compose-preview.yml --rancher-file rancher-compose.yml

# deploy `main` branch to
# https://sciwiki.fredhutch.org

deploy:
  stage: deploy
  only:
    refs:
       - main
       - check-for-orphan-assets
  script: |
    set -x
    rm -f orphans.txt*
    for F in $(find assets/* -type f) ; do grep -r -q $F * || echo "$F"; done > orphans.txt.tmp
    #cat orphans.txt.tmp | fgrep -v "assets/css/" | fgrep -v "assets/js/" > orphans.txt
    fgrep -v "assets/css/" orphans.txt.tmp > orphans.txt.css
    fgrep -v "assets/js/" orphans.txt.css > orphans.txt
    ls -l orphans.txt
    echo "---"
    if [ -s orphans.txt ] ; then
      echo "Orphan files found:"
      cat orphans.txt
      # TODO file an issue and assign it to whoever merged or pushed to main
      # and possibly whoever wrote the PR that was merged
      exit 1
    fi
    docker login --username $DOCKERIMAGES_USER --password $DOCKERIMAGES_PASS https://dockerimages.fhcrc.org
    docker push dockerimages.fhcrc.org/wiki:latest
    sleep 15
    rancher-v0.6.2/rancher --url https://ponderosa.fhcrc.org --access-key $RANCHERAPI_KEY --secret-key $RANCHERAPI_SECRET up -d --pull --force-upgrade --confirm-upgrade --stack wiki --file docker-compose.yml --rancher-file rancher-compose.yml
  