<footer>
            <div class="row">
                <div class="col-lg-12 footer">
                  <img src="{{ "images/FredHutch-h-tag-4col-rgb.png" }}" width="250" align="left" alt="Fred Hutch"/>
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />

{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last updated: {{ site.time | date: "%b %-d, %Y"  }} <br />

<!-- toggle sidebar button -->
<li><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on"></i> Nav</a></li>
			{% include feedback.html %}
                </div>
            </div>
</footer>
