<!-- <section class="page__share"> -->
<font size="2"><a href="{{site.github.repository_url}}/blob/master/{{page.relative_path}}"><i class="fas fa-pen-square"></i><span> Edit this Page via GitHub</span></a> &nbsp; &nbsp; &nbsp; <a href="{{site.github.repository_url}}/issues"><i class="far fa-comment-dots"></i><span> Comment by Filing an Issue</span></a></font>
<hr>

<!--  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" class="btn btn--linkedin" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a> -->
<!-- </section> -->
