<section class="page__share">
  
  <a href="{{site.github.repository_url}}/blob/main/{{page.relative_path}}"><i class="fas fa-pen-square"></i>
  <span> Edit this Page via GitHub</span></a> &nbsp; &nbsp; &nbsp;
  <a href="{{site.github.repository_url}}/issues"><i class="far fa-comment-dots"></i><span> Comment by Filing an Issue</span></a>&nbsp; &nbsp; &nbsp;
  <a href="/backlinks{{page.url | remove: 'index.html' | replace: '//', '/'}}"><i class="fas fa-link"></i>
  <span> What Links Here</span></a>&nbsp; &nbsp; &nbsp;
  <a href="https://fhdata.slack.com/archives/CD3HGJHJT"><i class="fas fa-question-circle"></i>
  <span> Have Questions? Ask them here.</span></a>

</section>


